.vic
{
  font-family: 'Exo', sans-serif;
  font-family: 'Oswald', sans-serif;
}

body
{
  background-color: #eee;
}

h1
{
  font-family: 'Roboto Slab', sans;
  font-size: 75px;
}

input[type="number"]
{
  width: 100px;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}