body
{
  background-color: #eee;
}

.input-field.col label
{
  font-size: 16pt;
  line-height: 23pt;
  vertical-align: bottom;
}

h1
{
  line-height: 10rem;
}



input[type=number]
{
  padding-left: 0.5em;
  font-size: 18pt;
}

input[type=text]
{
  padding-left: 0.5em;
  margin-right: 0;
  font-size: 18pt;
}

.center-div
{
  background-color: #fff;
  border-radius: 5px;
  padding-left: 1em;
}